
A_High-Accuracy_and_Energy-Efficient_CORDIC_Based_Izhikevich_Neuron_With_Error_Suppression_and_Compensation.pdf
debug.log
saida_simulacao.txt
circ_original.circ
izhi_data.txt
circ_original.circ
analise.py
BinToDecConverter.py
saida_Python_reduzida.txt
saida_Python.txt
saida_VHDL_decimal.txt
